<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>LOCAL MENUS</title>
</head>
<style>

main > article{
    display: grid;
    height: 100vh;
    grid-template-columns:1fr 4fr;
    grid-template-rows: 1fr 4fr 4fr 4fr 4fr;
}

#asian{
    font-weight: 700;
}

#image{
    padding-top: 13rem;
    
}

#bottomleft2{
    padding-top: 13rem;
}

.footer{
    width: 100%;
    height: 175px;
    background-color: white;
    border-top: 1px solid #10162f;
}

#created{
    padding-left: 30rem;
    padding-top: 15px;
}

#research{
    padding-top: 15px;
    padding-left: 4rem;
}

</style>
<body>
    <nav>
        <div id="home" class="navbar">
            <a href="home.html"> HOME</a>
        </div>
        <div id="links1" class="navbar">
            <a style="color:#10162f" id="asian"href="asian.html">ASIAN</a>
        </div>
        <div id="links2" class="navbar">
            <a href="western.html">WESTERN</a>
        </div>
        <div id="links3" class="navbar">
            <a href="fastfood.html" >DESSERT/CAFE</a>
        </div>
    </nav>
    <main>
        <article>
            <div id= "image" class="article-section">
                <img src="namaste.png" id="namasteimage" alt="namaste">
                <h3> 15 Street 308 Tonle Bassac Near by Malis and Independence Monument, Phnom Penh 12101 Cambodia </h3>
                <img src="namaste 2.png" id="namasteimage" alt="namaste 2">
            </div>
            <div id ="topright" class="article-section">
                <h1 id="namaste">NAMASTE INDIA</h1>
                <h3 id="descript1">
                    NAMASTE:  "THE DIVINE IN ME, BOWS TO THE DIVINE IN YOU" <br> <br>
                    Established in 2018, Namaste India BKK restaurant is build with a mission to 
                    bring true fine dining experience with Indian food in Phnom Penh, Cambodia. Since the launch we 
                    have been receiving tremendous positive reviews from expats, locals, and tourists. Inspired by our 
                    culture, we proudly present North Indian, South Indian and Mughlai cuisines with a slight modern twist.
                </h3>
            <div class="section">
                <div id="details" class="cards">
                    <h2>Details</h2>
                    <h3>
                        PRICE RANGE: <br>
                        KHR 8,264 - KHR 61,983 <br><br>
                        SPECIAL DIETS <br>
                        Vegetarian Friendly <br> Vegan Options <br> Halal <br> Gluten Free Options
                    </h3>
                    <h3>$$ - $$$</h3>
                </div>
                <div id="contacts" class="cards">
                    <h2>Contacts</h2>
                    <h3>
                        Mobile No: +855 15 332 288 <br><br><br><br>
                        <a href="https://www.namasteindia.asia">Website</a>
                    </h3>
                </div>
                <div id="reviews" class="cards">
                    <h2>Reviews</h2>
                    <h3>5.0 ● ● ● ● ● <br> </h3>
                    <h2>RATINGS</h2>
                    <h3>
                        Food        ● ● ● ● ● <br>
                        Service     ● ● ● ● ● <br>
                        Value       ● ● ● ● ● 
                    </h3>
                    <h3>
                        <a href="https://www.namasteindia.asia/bkk-menu">Menu</a>
                    </h3>
                </div>

                </div>
            </div>
            <div id ="bottomleft"class="article-section">
                <img src="uraetei.png" id="namasteimage" alt="uraetei">
                <h3 ><a href="https://www.tripadvisor.com/Restaurant_Review-g293940-d4013473-Reviews-Uraetei_Cambodia-Phnom_Penh.html#MAPVIEW" id="uraeteiloca" target=”_blank”>5 Street 360, Boeung Keng Kang 1 quarter Chamkar Mon District, Phnom Penh Cambodia</a></h3>
                <img src="uraetei 2.png" id="namasteimage" alt="uraetei 2">
            </div>
            <div id ="bottomright"class="article-section">
                <h1 id="namaste">URAETEI BBQ</h1>
                <h3 id="descript1">
                    Dining and entertainment, meeting friends inside the house of Japanese BBQ
                </h3>
            <div class="section">
                <div id="details" class="cards">
                    <h2>Details</h2>
                    <h3>
                        PRICE RANGE: <br>
                        $$ - $$$$ <br><br>
                        CUISINES: <br>
                        Japanese <br> Barbecue <br> Asian <br>
                    </h3>
                </div>
                <div id="contacts" class="cards">
                    <h2>Contacts</h2>
                    <h3>
                        Mobile No: +855 23 218 037 <br><br><br><br>
                        <a href="http://www.uraetei-yakiniku.com.vn/"> Website</a>
                    </h3>
                </div>
                <div id="reviews" class="cards">
                    <h2>Reviews</h2>
                    <h3>5.0 ● ● ● ● ●  <br> </h3>
                    <h2>RATINGS</h2>
                    <h3>
                        Food        ● ● ● ● ●  <br>
                        Service     ● ● ● ● ●  <br>
                        Value       ● ● ● ● ●  <br>
                    </h3>
                    <h3>
                        <a href="https://www.uraetei-yakiniku.com.vn/menu/">Menu</a>
                    </h3>
                </div>
            </div>
            </div>
            <div id ="bottomleft2"class="article-section">
                <img src="tonle 2.png" id="namasteimage" alt="tonle">
                <h3 ><a href="https://www.tripadvisor.com/Restaurant_Review-g293940-d7805688-Reviews-Tonle_Bassac_II_Restaurant-Phnom_Penh.html#MAPVIEW" id="uraeteiloca" target=”_blank”>Building 534, Preah Monivong Boulevard Behind Bayon Hospital, Phnom Penh 12000 Cambodia</a></h3>
                <img src="tonle.jpg" id="namasteimage" alt="tonle2">
            </div>
            <div id ="bottomright2"class="article-section">
                <h1 id="namaste">TONLE BASSAC II</h1>
                <h3 id="descript1">
                    Tonle Bassac Restaurant was popularly known as CHAO PRA YA, which was originated from one of the Thailand River, like 10 years ago CHAOPRYA Restaurant change to 
                    Tonle Bassac which was also the Cambodian populous named river. As a country that was built around rivers which serve as peace and love to the nation 
                    Bassac choose this name TONLE for interest of the Country, community, family and friends. 
                </h3>
            <div class="section">
                <div id="details" class="cards">
                    <h2>Details</h2>
                    <h3>
                        PRICE RANGE: <br>
                        $$ - $$$ <br><br>
                        CUISINES: <br>
                        Chinese <br> Asian <br> Cambodian <br>
                    </h3>
                </div>
                <div id="contacts" class="cards">
                    <h2>Contacts</h2>
                    <h3>
                        Mobile No: +855 12 913 888 <br><br><br><br>
                        <a href="http://www.tonlebassac2.com/" target=”_blank”>Website</a>
                    </h3>
                </div>
                <div id="reviews" class="cards">
                    <h2>Reviews</h2>
                    <h3>4.0 ● ● ● ●   <br> </h3>
                    <h2>RATINGS</h2>
                    <h3>
                        Food        ● ● ● ●   <br>
                        Service     ● ● ● ●   <br>
                        Value       ● ● ● ●   <br>
                    </h3>
                    <h3>
                        <a href="http://www.tonlebassac2.com/?page=detail&menu1=215&ctype=article&id=215&lg=en"target=”_blank”>Menu</a>
                    </h3>
                </div>
            </div>
            </div>
            <div id="created" class="footer">
                <h3 id="footer-heads"> Creator </h3>
                <h3 id="info"> HongHay Heng </h3>
                <h3 id="info"> Sereiuddom Choun </h3>
            </div>
            <div id="research" class="footer">
                <h3 id="footer-heads"> Research </h3>
                <h3 id="tripadvisor"> <a href="https://www.tripadvisor.com" target="_blank">Trip Advisor </a></h3>
            </div>
        </article>
    </main>
</body>
</html>
