<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>LOCAL MENUS</title>
</head>
<style>

main > article{
    display: grid;
    height: 100vh;
    grid-template-columns:1fr 4fr;
    grid-template-rows: 1fr 4fr 4fr 4fr 4fr;
    width: 100%;
}

#fastfood{
    font-weight: 700;
}

#image{
    padding-top: 13rem;
    
}

#bottomleft2{
    padding-top: 12rem;
}

#bottomleft{
    padding-top: 13rem;
}

.footer{
    height: 175px;
    background-color: white;
    border-top: 1px solid #10162f;
}

#created{
    padding-left: 30rem;
    padding-top: 15px;
}

#research{
    padding-top: 15px;
    padding-left: 4rem;
}

</style>
<body>
    <nav>
        <div id="home" class="navbar">
            <a href="home.html"> HOME</a>
        </div>
        <div id="links1" class="navbar">
            <a href="asian.html">ASIAN</a>
        </div>
        <div id="links2" class="navbar">
            <a href="western.html">WESTERN</a>
        </div>
        <div id="links3" class="navbar">
            <a style="color:#10162f" id = "fastfood" href="fastfood.html">DESSERT/CAFE</a>
        </div>
    </nav>
    <main>
        <article>
            <div id= "image" class="article-section">
                <img src="sulbing.jpg" id="namasteimage" alt="Sulbing">
                <h3>Midtown Street 2004
                    First floor, to the left and TK avenue Street 516
                    In front of Lucky Burger TK Avenue </h3>
                <img src="sulbing2.png" id="namasteimage" alt="sulbing2">
            </div>
            <div id ="topright" class="article-section">
                <h1 id="sulbing">Sulbing Dessert</h1>
                <h3 id="descript1">
                    Sulbing:"Phnom Penh's number one Korean Dessert Café <br> <br>
                    One of Korea's most popular dessert brands and serving more than 16 different types of Korean shaved ice (Bingsu), 
                    our goal is to provide the community with high-quality desserts, comfort food, 
                    and beverages made with delicious ingredients. 
                </h3>
            <div class="section">
                <div id="details" class="cards">
                    <h2>Details</h2>
                    <h3>
                        PRICE RANGE: <br>
                        KHR 8,264 - KHR 45,455 <br><br>
                        Korean Dessert:<br>
                        Sulbing,Mini Sulbing,Toasts<br><br>
                        Drinks <br>
                    </h3>
                    <h3>$ - $$</h3>
                </div>
                <div id="contacts" class="cards">
                    <h2>Contacts</h2>
                    <h3>
                        Mobile No: +855 10 919 539 <br><br>
                        <a href="https://www.sulbing.com.kh/">Visit Website</a>
                    </h3>
                </div>
                <div id="reviews" class="cards">
                    <h2>Reviews</h2>
                    <h3>4.6 ● ● ● ● </h3>
                    <h2>RATINGS</h2>
                    <h3>
                        Food        ● ● ● ● ● <br>
                        Service     ● ● ● ● ● <br>
                        Value       ● ● ● ● ● <br><br>
                        <a href="https://www.sulbing.com.kh/sulbing">Menu</a>
                    </h3>       
                </div>
            </div>
            </div>
            <div id ="bottomleft"class="article-section">
                <img src="clay.jpg" alt="clay">
                <h3>178-174 St 155, Phnom Penh </h3>
                <img src="clay1.jpg" id="clay2" width="150" alt="mashed">
            </div>
            <div id ="bottomright"class="article-section">
                <h1 id="clay">Jars of Clay Cafe</h1>
                <h3 id="descript2">We are a family oriented Café which operates as a social enterprise providing sustainable employment for many disadvantaged and at-risk young Cambodian women.<br> <br> 
                    Our first café was started by a missionary from UK in 1998 - emerging from these very humble beginnings with only five full time Cambodian staff we have grown to now employ over 20 Cambodian staff within two Cafes! </h3> 
            <div class="section">
                <div id="details" class="cards">
                    <h2>Details</h2>
                <h3>
                    PRICE RANGE: <br>
                    KHR 20,661 - KHR 41,322<br><br>
                    Special diet:<br>
                    Vegetarian Friendly <br> Vegan Options <br> Gluten Free Options<br>    
                </h3>
                <h3>$ - $$</h3>
                </div>
                <div id="contacts" class="cards">
                    <h2>Contacts</h2>
                    <h3>
                        Mobile No: +855 12 800 160 <br><br>
                        <a href="http://jarsofclay.asia/">Visit Website</a>
                    </h3>
                </div>
                <div id="reviews" class="cards">
                    <h2>Reviews</h2>
                    <h3>4.5 ● ● ● ● ●  <br></h3>
                    <h2>RATINGS</h2>
                    <h3>
                        Food        ● ● ● ● ● <br>
                        Service     ● ● ● ● ● <br>
                        Value       ● ● ● ● ● <br><br>
                        <a href="https://jarsofclay.asia/cafe-menu/">Menu </a>
                    </h3>
                    <h2>
                    </h2>
                </div>
            </div>
            </div>
            <div id ="bottomleft2"class="article-section">
                <img src="apple.jpg" id="donut1" alt="apple">
                <h3>No.30, St 302 Boeung Keng Kang, Phnom Penh Cambodia</h3>
                <img src="donut1.jpg" id="donut2" alt="donut">
            </div>
            <div id ="bottomright2"class="article-section">
                <h1 id="bigapple">Big Apple <br>Donut & Coffee</h1>
                <h3 id="descript3">BIG APPLE Donuts & Coffee offers a wide selection of premium donuts, with a range of tantalizing coffees and a charming variety of tea creations. Its exceptional donut qualities come from a unique premix formula with a carefully selected blend of over 20 imported ingredients, producing donuts known for their hallmark freshness and fluffy soft texture. </h3>
                <div class="section">
                    <div id="details" class="cards">
                        <h2>Details</h2>
                    <h3>
                        PRICE RANGE: <br>
                        KHR 20,661 - KHR 41,322<br><br>  
                    </h3>
                    <h3>$ - $$</h3>
                    </div>
                    <div id="contacts" class="cards">
                        <h2>Contacts</h2>
                        <h3>
                            Mobile No: +855 23 211 118 <br><br>
                            <a href="https://www.bigappledonuts.com/">Visit Website</a>
                        </h3>
                    </div>
                    <div id="reviews" class="cards">
                        <h2>Reviews</h2>
                        <h3>4.5 ● ● ● ● ●  <br></h3>
                    
                    <h2>RATINGS</h2>
                    <h3>
                        Food        ● ● ● ● ● <br>
                        Service     ● ● ● ● ● <br>
                        Value       ● ● ● ● ● <br><br>
                        <a href="https://www.bigappledonuts.com/menu_donuts.html">Menu </a>
                    </h3>
                    </div>
            </div>
            </div>
            <div id="created" class="footer">
                <h3 id="footer-heads"> Creator </h3>
                <h3 id="info"> HongHay Heng </h3>
                <h3 id="info"> Sereiuddom Choun </h3>
            </div>
            <div id="research" class="footer">
                <h3 id="footer-heads"> Research </h3>
                <h3 id="tripadvisor"> <a href="https://www.tripadvisor.com" target="_blank">Trip Advisor </a></h3>
            </div>
        </article>
    </main>
</body>
</html>
