<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>LOCAL MENUS</title>
</head>
<style>

#western{
    font-weight: 700;
}

#image{
    padding-top: 13rem;
    
}

#bottomleft2{
    padding-top: 13rem;
}

.footer{
    width: 100%;
    height: 175px;
    background-color: white;
    border-top: 1px solid #10162f;
}

#created{
    padding-left: 30rem;
    padding-top: 15px;
}

#research{
    padding-top: 15px;
    padding-left: 4rem;
}
</style>
<body>
    <nav>
        <div id="home" class="navbar">
            <a href="home.html"> HOME</a>
        </div>
        <div id="links1" class="navbar">
            <a href="asian.html">ASIAN</a>
        </div>
        <div id="links2" class="navbar">
            <a style="color:#10162f"id="western"href="western.html">WESTERN</a>
        </div>
        <div id="links3" class="navbar">
            <a href="fastfood.html">DESSERT/CAFE</a>
        </div>
    </nav>
    <main>
        <article>
            <div id= "image" class="article-section">
                <img src="khema.png" id="namasteimage" alt="khema">
                <h3 ><a href="https://www.tripadvisor.com/Restaurant_Review-g293940-d4458811-Reviews-Khema_Pasteur-Phnom_Penh.html#MAPVIEW" id="uraeteiloca" target=”_blank”># 163 Pasteur Street, Corner 228 Street Ground floor Arunreas Hotel Building, Phnom Penh 12000 Cambodia</a></h3>
                <img src="khema 2.png" id="namasteimage" alt="khema 2">
            </div>
            <div id ="topright" class="article-section">
                <h1 id="namaste">KHEMA PASTEUR</h1>
                <h3 id="descript1">
                    Khéma is a dine-in/dine-out French café-restaurant and gourmet delicatessen dedicated to serving fine foods, minus the fuss. We focus on smart, affordable dining in a cosmopolitan atmosphere as well as creating and sourcing unforgettably good gourmet deli foods.
                </h3>
            <div class="section">
                <div id="details" class="cards">
                    <h2>Details</h2>
                    <h3>
                        PRICE RANGE: <br>
                        $$ - $$$$ <br><br>
                        Food and Ambience: <br>
                        French <br> Vegetarian Friendly <br> Gluten Free Options
                    </h3>
                </div>
                <div id="contacts" class="cards">
                    <h2>Contacts</h2>
                    <h3>
                        Mobile No: +855 15 823 888 <br><br><br><br>
                        <a href="http://www.khema-restaurant.com/" target="_blank">Website</a>
                    </h3>
                </div>
                <div id="reviews" class="cards">
                    <h2>Reviews</h2>
                    <h3>4.5 ● ● ● ● ● <br> </h3>
                    <h2>Ratings</h2>
                    <h3>
                        Food        ● ● ● ● ● <br>
                        Service     ● ● ● ● ● <br>
                        Value       ● ● ● ● ● 
                    </h3>
                    <h3>
                        <a href="https://khema-restaurant.com/menu/" target="_blank">Menu</a>
                    </h3>
                </div>

                </div>
            </div>
            <div id ="bottomleft"class="article-section">
                <img src="digby.png" id="namasteimage" alt="digby">
                <h3 ><a href="https://www.tripadvisor.com/Restaurant_Review-g293940-d4597090-Reviews-Digby_s_Bar_Grill-Phnom_Penh.html#MAPVIEW" id="uraeteiloca" target=”_blank”># 197 Street 63 (cross St 306) BKK1 Khan Chamkarmorn Cross Street 306, Phnom Penh 12000 Cambodia</a></h3>
                <img src="digby 2.png" id="namasteimage" alt="digby 2">
            </div>
            <div id ="bottomright"class="article-section">
                <h1 id="namaste">Digby's Bar & Grill</h1>
                <h3 id="descript1">
                    DAt Digby's, we aspire for quality, character and excellence in all that we do. Digby's is more than just a cafe, we are a place where people meet to shop, eat, do business, laugh and relax. We start from scratch each day to prepare our menu, choosing raw ingredients carefully, supporting local farms, selecting best suppliers, and searching for the best meats, serving the best coffee and tea
                </h3>
            <div class="section">
                <div id="details" class="cards">
                    <h2>Details</h2>
                    <h3>
                        PRICE RANGE: <br>
                        KHR 8,264 - KHR 144,628 <br><br>
                        CUISINES: <br>
                        Cafe <br> American <br> Grill <br>
                    </h3><br>
                    <h3> $$ - $$$ </h3>
                </div>
                <div id="contacts" class="cards">
                    <h2>Contacts</h2>
                    <h3>
                        Mobile No: +855 77 772 326 <br><br><br><br>
                        <a href=""> Website</a>
                    </h3>
                </div>
                <div id="reviews" class="cards">
                    <h2>Reviews</h2>
                    <h3>4.0 ● ● ● ●   <br> </h3>
                    <h2>Ratings</h2>
                    <h3>
                        Food        ● ● ● ●   <br>
                        Service     ● ● ● ●   <br>
                        Value       ● ● ● ●   <br>
                    </h3>
                    <h3>
                        <a href="">Menu</a>
                    </h3>
                </div>
            </div>
            </div>
            <div id ="bottomleft2"class="article-section">
                <img src="terrazza.png" id="namasteimage" alt="terrazza">
                <h3 ><a href="https://www.tripadvisor.com/Restaurant_Review-g293940-d4356069-Reviews-Terrazza-Phnom_Penh.html#MAPVIEW" id="uraeteiloca" target=”_blank”>Street 282, Phnom Penh Cambodia</a></h3>
                <img src="terrazza 2.png" id="namasteimage" alt="terrazza2" height="450px">
            </div>
            <div id ="bottomright2"class="article-section">
                <h1 id="namaste">TERRAZZA</h1>
                <h3 id="descript1">
                    Terrazza, established in June 2013, is regarded as Phnom Penh's most authentic restaurant. 
                    It places its focus on using only the freshest Italian products,shogun pokies game as visible in its unique menu. 
                    The restaurant strives to give you a personalized service from the moment you arrive. <br><br><br>
                    Whether you are looking for an intimate venue or need to accommodate a larger group, the restaurant is sure to please. Terrazza is also complemented with Deli Shop & Vinetoca filled with Italian delicacies.
                </h3>
            <div class="section">
                <div id="details" class="cards">
                    <h2>Details</h2>
                    <h3>
                        PRICE RANGE: <br>
                        KHR 24,793 - KHR 144,628 <br><br>
                        CUISINES: <br>
                        Italian <br> European <br> Mediterranean <br> Pizza
                    </h3>
                </div>
                <div id="contacts" class="cards">
                    <h2>Contacts</h2>
                    <h3>
                        Mobile No: +855 23 214 660 <br><br><br><br>
                        <a href="http://www.terrazza.asia/" target=”_blank”>Website</a>
                    </h3>
                </div>
                <div id="reviews" class="cards">
                    <h2>Reviews</h2>
                    <h3>4.5 ● ● ● ● ●   <br> </h3>
                    <h2>RATINGS</h2>
                    <h3>
                        Food        ● ● ● ●   <br>
                        Service     ● ● ● ●   <br>
                        Value       ● ● ● ●   <br>
                    </h3>
                    <h3>
                        <a href=""target=”_blank”>Menu</a>
                    </h3>
                </div>
            </div>
            </div>
            <div id="created" class="footer">
                <h3 id="footer-heads"> Creator </h3>
                <h3 id="info"> HongHay Heng </h3>
                <h3 id="info"> Sereiuddom Choun </h3>
            </div>
            <div id="research" class="footer">
                <h3 id="footer-heads"> Research </h3>
                <h3 id="tripadvisor"> <a href="https://www.tripadvisor.com" target="_blank">Trip Advisor </a></h3>
            </div>
        </article>
    </main>
</body>
</html>
